@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blog-post">
    <h2 class="blog-post-title">前言</h2>
    <p class="blog-post-meta">
        2015/9/1 <a href="javascript:void(0)">李晨</a>
    </p>
    <p>SuperCode-用于总结我自己在工作上用到的技术和一些项目的总结.</p>
    <hr>
    <strong>
        我也希望大家和我一起总结.
    </strong>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;我会尽快将后台做出来,方便大家上传你们的总结.</p>
    目前预测后台应用技术:
    <ol>
        <li><a href="http://razorengine.codeplex.com/">RazorEngine</a></li>
        <li><a href="http://www.csscript.net/">sc-Script</a></li>
    </ol>
    <p>预计下个月会出个测试后台。</p>
    <p>最终的版本会在明年完成.将会使用：DLR C# 以及重写Razor引擎的方式.</p>
    <p>真正做到后台编写象在 VS 上写一样.</p>
    <hr />
    <h2>目录以及记录步骤</h2>
    <strong>主线:以项目开始到结束讲解一套流程分为(Main)：</strong>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;在Main里面呢，我会以自我叙述的方式来讲解,而在后面的分类中只会记录我的相关笔记</p>
    <ol>
        <li>策划篇</li>
        <li>UI设计篇</li>
        <li>项目实施篇</li>
        <li>特殊技巧篇</li>
    </ol>
    <p>在这里我特别的推荐我右边分享的工具并且在策划篇中我会详细的给大家讲解我是如何使用这些工具的.</p>
    <p>另外UI我也特别给大家介绍几个~~妈妈再也不用担心我的控件难看了</p>
    <p>最后附上一些好用的Js 以及我的常用外链</p>
</div><!-- /.blog-post -->
@*<pre><code></code></pre>*@