
@{
    ViewBag.Title = "Teacher_J";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <strong>姜老师：</strong><br />
    我来公司总结真是多种多样的形式。<br />
    <strong>笔---云笔记---项目备注--Web</strong>这一系列记录手段让我找的也是够烦躁.
    <br />
</p>
<p>
    我现在用网站的形式记录下来,并且共享到班上,之后我会添加后台模块,将网站做成平台的形式,动员大家一起写.
</p>
<p>
    这是微软MVP<strong><a href="https://github.com/chsword">邹建</a></strong>在我刚入公司时给我们定制的一个目标
</p>
<pre>
    <code>
    了解项目基本结构
    实现一个Action 仅输出文本
    实现一个Action使用View输出简单的Html页面
    了解从Action向View传值及输出到页面的方式(包括Model、ViewData、ViewBag及TempData）
    熟悉Razor引擎（扩展名为cshtml）的View的语法规则
    了解各种ActionResult
    了解UrlRouting，并尝试自己修改UrlRouting的定义
    在页面拼接Url，完成在页面之间的连接（即A标签）
    在页面创建form表单，使用一个Action来获取
    了解UrlHelper中的各方法（新建一个原始的MVC项目）
    了解HtmlHelper中的各方法（新建一个MVC项目）
    了解View的文件分布，包括Layout（即母板页面）的作用及使用方法
    使用RenderPartial复用View中的部分代码
    了解jquery，并使用jquery结合MVC进行简单的Ajax操作
    了解Linq与Lamdba表达式
    了解“扩展方法”
    了解EntityFramework
    使用Code First模式来完成上条任务
    了解MVC中的Filter
</code>
</pre>
<p>结合学校的课程来看,感觉很贴近，但是学校中没有这么细</p>
<p><strong>然后姜老师有点对不起,这个总结了这么久还久这么点东西.我在云笔记中写了太多有关公司的东西,不方便共享,所以老师谅解下~</strong></p>