@{
    ViewBag.Title = "Web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blog-post">
    <h2 class="blog-post-title">前言</h2>
    <p class="blog-post-meta">
        2015/9/4 <a href="javascript:void(0)">李晨</a>
    </p>
    <p>此块将会重点介绍Web和JS</p>
    <hr>
</div>
<div class="blog-post">
    <h3>
        Require.js<small> 2015/9/4 <a href="javascript:void(0)">李晨</a></small>
    </h3>
    <p>
        <a href="http://www.cnblogs.com/snandy/archive/2012/05/22/2513652.html">Require.js </a>这个JS提高的是网页在视觉上的加载速度，同时异步加载其他JS
    </p>
    <hr>
</div>
<div class="blog-post">
    <h3>
        TelerikUI<small> 2015/9/4 <a href="javascript:void(0)">李晨</a></small>
    </h3>
    <p>
        TelerikUI是KenDoUI的开源进化版~可以在右侧找到这个链接
    </p>
    <hr>
</div>
<div class="blog-post">
    <h3>
        DataTables<small> 2015/9/4 <a href="javascript:void(0)">李晨</a></small>
    </h3>
    <p>
        在项目没有使用其他UI的时候使用它是再适合不过了.
    </p>
    <hr>
</div>