@{
    ViewBag.Title = "Web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blog-post">
    <h2 class="blog-post-title">前言</h2>
    <p class="blog-post-meta">
        2015/9/4 <a href="javascript:void(0)">李晨</a>
    </p>
    <p>此块将会重点介绍Web和JS</p>
    <hr>
</div>
<div class="blog-post">
    <h3>
        Require.js<small> 2015/9/4 <a href="javascript:void(0)">李晨</a></small>
    </h3>
    <p>
        <a href="http://www.cnblogs.com/snandy/archive/2012/05/22/2513652.html">Require.js </a>
    </p>
    <hr>
</div>